@media (max-width: 420px) {
    header {
        position: static;
        height: 70px;
        overflow: hidden;
    }

    .logo {
        margin: 10px 10px auto 20px;
        font-family: "Chau Philomene One", sans-serif;
        font-size: 25px;
        letter-spacing: 2px;
        height: 40px;
    }
    
    nav {
        display: none;
        margin: 0px 5px;
    }

    nav a {
        font-size: 16px;
        margin: auto 10px;
    }

    #nav-mobile {
        display: flex;
        margin: 5px auto 20px auto;
        justify-content: center;
    }
    
    .search {
        margin: 10px 15px auto auto;
    }
    
    .search input {
        padding-left: 8px;
        height: 40px;
        display: none;
    }
    
    .fas.fa-search {
        top: 18px;
        right: 20px;
        color: #ffffff; 
        cursor: pointer;font-size: 25px; 
    }
    
    .fas.fa-search:hover {
        scale: 1.1;
    }
    
    .banner-div {
        width: 99%;
        height: 230px;
        position: static;
    }
    
    .descricao {
        width: 98%;
        height: 60px;
        margin-left: 5px;
        padding: 5px;
    }
    
    #titulo {
        display: none;
    }
    #sinopse {
        display: none;
    }
    
    .descricao div {
        display: flex;
    }
    
    button {
        margin: 3px 0px auto 10px;
    }
    
    #adc {
        margin: 3px auto auto 20px;
    }
    
    h2 {
        margin-top: 10px;
        margin-left: 0px;
        text-align: center;
        width: 98%;
    }
    .link-de-h2 {
        width: 98%;
    }
    
    #canais {
        padding: 10px;
        height: 140px;
        width: 98%;
    }

    .container-de-canais > div {
        margin: auto;
    }
    .container-de-canais > div img{
        width: 80px;
        height: 80px;
    }
    
    .container {
        margin: 5px;
        padding-left: 0px;
    }
    
    .container img {
        width: 179px;
        height: 108px;
        margin: 5px;
    }

    section {
        flex-direction: column-reverse;
    }

    .anuncio {
        width: 93%;
        max-height: 250px;
        margin: auto ;  
    }

    .containar-do-iframe {
        width: 384px; 
        height: 240px; 
        margin: 10px auto;
    }

    .lista-de-canais, .lista-de-episodios {
        margin: 20px auto 10px auto;
    }
    .lista-de-canais p, .lista-de-episodios p {
        width: 240px;
        position: static;
    }
    
    .lista-de-links {
        margin-top: 10px;
    }

}