@media (max-width: 420px) {
    header {
        position: static;
    }

    .menu-icone {
        margin: 12px 10px auto 10px;
    }

    nav a {
        font-size: 16px;
    }
    
    .search {
        margin: 7px 15px auto auto;
    }

    .fas.fa-search {
        top: 15px;
        right: 20px;
    }

    .modal {
        width: 384px;
    }
    
    .modal div {
        margin-left: 140px;
    }
    
    .modal p {
        width: 310px;
        margin-left: 55px;
        color: #777;
    }

    .modal input{
        margin: 30px auto 30px 105px;
    }
    
    .banner-div {
        width: 99%;
        height: 230px;
        position: static;
    }
    
    .descricao {
        width: 98%;
        height: 60px;
        margin-left: 5px;
        padding: 5px;
    }
    
    #titulo {
        display: none;
    }
    #sinopse {
        display: none;
    }
    
    .descricao div {
        display: flex;
    }
    
    button {
        margin: 3px 0px auto 10px;
    }
    
    #adc {
        margin: 3px auto auto 20px;
    }
    
    h2 {
        margin-top: 10px;
        margin-left: 0px;
        text-align: center;
        width: 98%;
    }
    .link-de-h2 {
        width: 98%;
    }
    
    #canais {
        padding: 10px;
        height: 140px;
        width: 98%;
    }

    .container-de-canais > div {
        margin: auto;
    }
    .container-de-canais > div img{
        width: 80px;
        height: 80px;
    }
    
    .container {
        margin: 5px;
        padding-left: 0px;
    }
    
    .container img {
        width: 161px;
        height: 97px;
        margin: 5px;
    }

    section {
        padding: 0px 10px;
    }

    .titulo-e-adc {
        width: 384px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .titulo-e-adc > h3 {
        max-width: 384px;
    }

    #sinopse-do-ep, #sinopse-do-filme{
        width: 384px;
        margin-bottom: 10px;
    }

    .ads-e-lista {
        display: flex;
        flex-direction: column-reverse;
    }

    .anuncio {
        width: 384px;
        max-height: 250px;
        margin: auto;  
    }

    .containar-do-iframe {
        width: 384px; 
        height: 240px; 
        margin: 10px 0px 0px 0px;
    }

    .lista-de-canais, .lista-de-episodios {
        width: 384px;
        margin: 20px auto 10px auto;
    }

    .lista-de-canais div, .lista-de-episodios div {
        width: 384px;
    }    

    .lista-de-links {
        margin-top: 10px;
    }

    #but {
        font-size: 15px;
        width: 175px;
    }

    .btn-adc {
        width: 130px;
        font-size: 16px;
    }

}