* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
}

.logo {
    margin: 18px 10px auto 25px;
    font-family: "Chau Philomene One", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    height: 40px;
}

nav { 
    margin: 30px auto auto 40px;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    color: rgb(187, 184, 184);
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    font-size: 16px;
    margin: 0px 20px auto 0px;
    transition: 0.5s;
}

nav a:hover {
    color: white;
    border-bottom: solid 1px white;
    scale: 1.1;
}

.search {
    margin: 20px 15px auto auto;
}

.search input {
    background-color: #202020;
    border: none;
    border-radius: 5px;
    color: white;
    padding-left: 8px;
    height: 40px;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.712);
    outline: none;
    display: none;
}

.search input:focus {
    box-shadow: 0px 0px 3px #2588f8;
}

.fas.fa-search {
    position: relative;
    top: 5px;
    right: 35px;
    color: #ffffff; 
    cursor: pointer;font-size: 25px; 
}

.fas.fa-search:hover {
    scale: 1.1;
}

.banner {
    width: 750px;
    height: 400px;

    position: absolute;
    top: 0;
    right: 40px;
    z-index: 0;
}

.banner img {
    width: 100%;
    height: 100%;
}

#desc {
    width: 500px;
    height: 235px;
    margin: 40px auto 65px 25px;
    padding: 10px;
    /* position: relative;
    z-index: 1; */
}

#desc h1 {
    margin-bottom: 30px;
}

#desc div {
    display: flex;
}

button {
    background-color: #2589f8;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    width: 110px;
    height: 40px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: 30px 0px auto 0px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    border: solid 1px white;
    scale: 1.1;
}

.icone-play {
    margin: 5px 2px 5px 0px;
    width: 25px;  
    height: 25px;
    fill: #ffffff; 
  }

#adc {
    background-color: #2589f8;
    margin: 30px auto auto 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

#adc:hover {
    border: solid 1px white;
    scale: 1.1;
    cursor: pointer;
}

#container-geral {
    margin-bottom: 20px;
}

.container {
    margin: 5px auto 10px 25px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
}

.container-canais {
    margin: 5px auto auto 25px;
    overflow: hidden;
    gap: 20px;
}

.canaiss {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    width: 98%;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    color: #c2c2c2;
    margin: 15px auto auto 25px;
}

h5{
    text-align: center;
    font-weight: 300;
    color: #afafaf;
}
.container img {
    margin: 10px 10px 10px auto;
    width: 250px;
    height: 150px;
}

.container div {
    width: 250px;
    height: 150px;
    margin-bottom: 15px;
}

.container img:hover, .container-canais img:hover {
    scale: 1.1;
}

.canal {
    margin: 15px 15px auto 3px;
    border-radius: 5px;
}

.lista-exi {
    list-style: none;
    font-size: 20px;
    padding-left: 10px;
}

.lista-exi li {
    padding: 10px;
}

.lista-exi a {
    text-decoration: none;
    color: #999;
}

.lista-exi a:hover {
    color: #ffffff;
}

.lista-exi a:visited {
    color: #2588f8;
}



#iframe-container {
    margin: 20px auto;
    width: 832px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    border: solid 1px #151515;
}


#iframe-container iframe {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #2588f8;
    height: 35px;
    width: 100%;
    display: flex;
}

footer p {
    margin: auto;
}

::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
    background: #191919;
}

::-webkit-scrollbar-thumb {
    background: #2589f8;
}

::-webkit-scrollbar-thumb:hover {
    background: #1877e4;
}

