* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    z-index: 1;
}

.menu-icone {
    width: 30px;
    height: 30px;
    margin: 12px 10px auto 30px;
    cursor: pointer;
    transition: 0.5s;
}
.menu-icone:hover {
    scale: 1.1;
}


.logo {
    margin: 10px auto auto 30px;
    font-family: "Chau Philomene One", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    height: 40px;
    cursor: pointer;
}

.fundo-menu {
    position: absolute;
    width: 100%;
    height: 110%;
    max-height: 200%;
    top: 0;
    left: 0;
    background-color: #8f8f8f4b;
    z-index: 95;
    display: none;
}

.sidebar {
    display: none;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    width: 250px;
    height: 110%;
    background-color: #101010;
    padding-top: 50px;
    box-shadow: 5px 0px 20px 3px #00000069;
}

.sidebar.abrir {
    display: block;
    animation: deslizarBarra 0.5s ease-in-out forwards;
  }
  
.sidebar.fechar {
    animation: esconderBarra 0.5s ease-in-out  forwards;
  }
  
  

@keyframes deslizarBarra {
    0% {
      transform: translateX(-250px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes esconderBarra {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-250px);
    }
  }



.sidebar nav{
    border-bottom: 1px solid #333;
}

.fechar-icone, #fechar-icone {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.fechar-icone {
    top: 5px;
}
.fechar-icone:hover, #fechar-icone:hover {
    scale: 1.1;
}

nav { 
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 240px;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    color: rgb(187, 184, 184);
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    font-size: 16px;
    margin: 10px auto 10px 30px;
    transition: 0.5s;
}

nav a:hover {
    color: white;
    border-bottom: solid 1px white;
    scale: 1.1;
}

.search {
    margin: 10px 25px auto auto;
}

.search input, .modal input {
    background-color: #202020;
    border: none;
    border-radius: 5px;
    color: white;
    padding-left: 8px;
    height: 40px;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.712);
    outline: none;
    display: none;
}

.modal input{
    display: block;
    margin: 30px auto 30px 115px;
}

.search input:focus {
    box-shadow: 0px 0px 3px #2588f8;
}

.fas.fa-search {
    position: absolute;
    top: 18px;
    right: 35px;
    color: #ffffff; 
    cursor: pointer;
    font-size: 25px; 
}

.fas.fa-search:hover {
    scale: 1.1;
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 400px;
    height: 230px;
    border-radius: 5px;
    background-color: #101010;
    box-shadow: 0px 0px 20px 3px #00000056;
}

.modal div {
    margin-left: 150px;
}

.modal p {
    width: 370px;
    margin-left: 55px;
    color: #777;
}

.modal input {
    width: 300px;
    margin-left: 50px;
}

#sub {
    background-color: #1877e4;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
    transition: 0.3s;
    margin: auto;
}

#sub:hover {
    scale: 1.05;
}


.banner-div {
    width: 750px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 0;
}

.banner-div img {
    width: 100%;
    height: 100%;
}

.descricao {
    width: 500px;
    height: 330px;
    margin-left: 40px;
    padding: 10px;
}

#titulo {
    margin-top: 35px;
}
#sinopse {
    margin-top: 25px;
}

.descricao div {
    display: flex;
}

button {
    background-color: #2589f8;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    width: 110px;
    height: 40px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: 30px 0px auto 0px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.555);
    scale: 1.1;
}

.icone-play {
    margin: 5px 2px 5px 0px;
    width: 25px;  
    height: 25px;
    fill: #ffffff; 
}

#adc {
    background-color: #2589f8;
    margin: 30px auto auto 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
    transition: 0.4s;
}

#adc:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.555);
    scale: 1.1;
}

.div-buts {
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
    margin-left: 25px;
    color: #c2c2c2;
    font-size: 23px;
    font-weight: 300;
}

h3 {
    color: #c2c2c2;
    margin: 14px 0px 10px 0px;
    text-align: center;
}


#sinopse-do-ep, #sinopse-do-filme {
    width: 824px;
    margin-top: 20px;
}

h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
#canais {
    padding: 10px;
    height: 140px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
.canal {
    margin-right: 5px;
    transition: 0.5s;
}

.canal:hover {
    scale: 1.2;
}

.a {
    cursor: pointer;
}

.container-de-canais {
    width: 95%;
}

.container-de-canais > div {
    display: flex; 
    padding-left: 20px; 
    margin-top: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.container-de-canais > div img{
    width: 90px;
    height: 90px;
}

.container {
    width: 99%;
    margin: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}


.container img{
    width: 300px;
    height: 180px;
    margin: 10px;
    background-color: #1877e4;
    transition: 0.5s;
    
}

.container img:hover {
    scale: 1.1;
    background-color: blueviolet;
}

.anuncio {
    width: 400px;
    height: 250px;
    margin: 10px auto auto auto; 
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    padding:  0px 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titulo-e-adc {
    display: flex;
    width: 824px;
}

.lista-de-canais {
    height: 300px;
    overflow-x: auto;
}

.lista-de-canais, .lista-de-episodios {
    background-color: #202020;
    width: 400px;
    max-height: 400px;
    border-radius: 7px;
    margin: 10px 0px auto auto;
    text-align: center;
    padding-top: 2px;
}
.lista-de-canais div, .lista-de-episodios div {
    background-color: #101010;
    width: 400px;
    padding: 5px;
    font-size: 23px;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin; 
}

span {
    padding: 0px 20px;
    cursor: pointer;
    border: solid 1px #ffffff;
    border-radius: 4px;
    margin-right: 4px;
    transition: 0.4s;
}

span:hover {
    border: solid 1.5px #1877e4;
    scale: 1.05;
    color: #2588f8;
}

.span-selecionado {
    background-color: #2588f8;
    border: none;
    border-radius: 5px;
}

#epis-div {
    height: 300px;
    overflow: hidden;
}

.lista-de-links {
    width: 400px;
    list-style: none;
    margin-top: 33px;
    padding-left: 15px;
    font-size: 20px;
    overflow: auto;
}
.lista-de-links li {
    margin: 0px auto 30px 0px;
    text-align: left;
}
.lista-de-links a {
    color: #8b8b8b;
    transition: 0.5s;
}
.lista-de-links a:hover {
    color: white;
}
.lista-de-links a:visited {
    color: #2588f8;
    font-size: 21px;
}

.containar-do-iframe {
    width: 824px;
    height: 515px;
    margin: 10px auto auto 0px;
    background-size: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
}

.containar-do-iframe iframe {
    width: 100%;
    height: 100%;
}

.btn-adc img {
    width: 29px;
    height: 29px;
    margin-right: 5px;
}

.btn-adc {
    width: 55px;
    height: 40px;
    margin: 10px 20px auto 20px;
    background-color: #3f3f3f;
    color: white;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
}

.btn-adc:hover {
    width: 130px;
    scale: 1.1;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.295);
    background-color: #1877e4;
    font-size: 16px;
}

.btn-adc p {
    margin: 0px 3px 0px 0px;
    font-size: 30px;
}

#relatar {
    background-color: #f82525;
}


.bannerADS {
    width: 320px;
    height: 90px;
    margin: 15px auto auto auto;
}

footer {
    background-color: #2588f8;
    margin-top: 10px;
    height: 35px;
    width: 100%;
    display: flex;
}

footer p {
    margin: auto;
}

::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
    background: #191919;
}

::-webkit-scrollbar-thumb {
    background: #2589f8;
}

::-webkit-scrollbar-thumb:hover {
    background: #1877e4;
}

#but {
    --primary-color: #3f3f3f;
    --secondary-color: #fff;
    --hover-color: #1877e4;
    --arrow-width: 15px;
    --arrow-stroke: 3px;
    box-sizing: border-box;
    border: 0;
    border-radius: 7px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.4s ;
    align-items: center;
    gap: 0.6em;
    font-size: 0px;
    width: 55px;
    height: 40px;
    margin: 10px 20px auto 20px;
  }
  
  #but .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #but .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  #but .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  #but:hover {
    background-color: var(--hover-color);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.295);
    cursor: pointer;

    font-size: 15px;
    width: 175px;
  }
  
  #but:hover .arrow {
    background: var(--secondary-color);
  }
  
  #but:hover .arrow:before {
    right: 0;
  }
  
  #but:active {
  scale: 0.95;
  }